.countries-container {
    /* margin: 10px 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* border-bottom: 1px solid #ddd; */
  }
  
.sports-container .sports-header, .sport{
    column-count: 5;
    column-fill: balance;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 60px;
    column-gap: 650px;
    columns: 6rem auto;
    flex: 1 0 auto;
}
.sport .medals, .sport .sports, .sport .ratio{
    flex: 1 0 auto;
}

.stats-container .stats{
    column-count: 3;
    column-fill: balance;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 60px;
    column-gap: 400px;
    columns: 6rem auto;
    flex: 1 0 auto;
}

.stats .height, .stats .weight, .stats .decade_year{
    flex: 1 0 10px;
}

.participation-container .participation{
    column-count: 4;
    column-fill: balance;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 60px;
    column-gap: 20px;
}
.participation .name, .participation .population, .participation .participants, .participation .ratio {
    flex: 1 0 10px;
}